.palette {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  /* background: rgba(255, 255, 255, 0.05); */
  border-radius: 3px;
  height: fit-content;
  width: 316px;
  padding: 0.75rem 0.75rem;
  overflow: hidden;
}
.colorPiker {
  /* background: rgba(255, 255, 255, 0.05); */
  background: rgba(0, 0, 0, 0.1);
  padding: 4px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.container_pallet_color {
  width: 100%;
  height: 100%;
  border-radius: 0 0 3px 3px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 4px;
  padding: 4px;
}
.background_color {
  height: 100%;
  flex: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.background_color img {
  opacity: 0.6;
  transition: all 0.2s;
}
.background_color:hover {
  filter: brightness(90%);
}
.background_color:hover img {
  opacity: 1;
}
/* ============ Pick color */
.colorPicker_component > div:first-child {
  /* padding: 0px !important; */
  background: none !important;
  box-shadow: 0 !important;
  width: 100% !important;
  margin: 0px !important;
}
.colorPicker_component > div {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background: none !important;
  box-shadow: 0 !important;
  width: 100% !important;
}
.colorPiker > div:nth-child(1) {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 3px 3px 0 0 !important;
  background: none;
  box-shadow: 0;
}
.colorPiker input {
  width: 100% !important;
  padding: 8px !important;
  outline: none;
  border: 2px solid transparent !important;
  text-align: center;
  font-size: 11px !important;
}
.colorPiker input:focus {
  transition: all 0.2s !important;
  background: var(--secundary-color-hover) !important;
  border-color: var(--secundary-color) !important;
}
.colorPiker label span {
  display: none !important;
}
.colorPiker input[type="number"] {
  -moz-appearance: textfield !important;
}
.colorPiker input::-webkit-outer-spin-button,
.colorPiker input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.colorPiker > div > div:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

.colorPiker > div > div:nth-child(2) > div:nth-child(2) div > div {
  margin-top: 2px;
  padding: 0 4px;
}
.container_background_color {
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50px;
  gap: 4px;
}
