
.content{
  width:80px;
  display:flex;
  flex-wrap: wrap;
  gap:4px
}
.item_menu{
  flex-basis: calc(50% - 4px);
  height: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s;
  background: var(--menu-item-default);
  color:var(--text-light);
  border: 2px solid transparent;
  font-size:.88rem;
}
.item_menu:hover{
  transition: all .1s;
  border-color:var(--secundary-color)

}


.container::-webkit-scrollbar {
  width: 4px;
}
 
.container::-webkit-scrollbar-thumb {
  background: var(--secundary-color); 
  border-radius: 10px;
}

