@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  overflow: hidden;
}
.container h1{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
}
.container h1 span{
  padding: 0.45rem 0;
  color:#606060;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:24px;
}
.container_editor{
  max-width: 880px;
  display: flex;
  gap:24px
}
.column{
  width: 100%;
  height: 100%;
}
.container_table{
  width:512px; 
  height:512px; 
  display:flex;
  align-items: center;
  justify-content: center;
}
.moblie_waring{
  display: none;
  color:#fff;
  font-weight: 500;
  font-size: .88rem;
  text-align: center;
  max-width: 85%;
  line-height: 1.5;

}
.moblie_waring span{
  font-size: 1.25rem;
  color:var(--primary-color)
}

@media (max-width:675px){
  .content,
  .container h1 span{
    display: none;
  }
  .moblie_waring{
    display: initial;
  }
}