html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
  body{
    overflow-x: hidden;
  }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --message-default:#11c7ff;
  --message-sucess:rgb(84, 223, 146);
  --message-error:rgb(221, 30, 40);
  --message-waring:rgb(212, 201, 40);
}