.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.content {
  max-width: 880px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:24px;
}
.conatiner_table{
  width:512px; 
  height:512px; 
  display:flex;
  align-items: center;
  justify-content: center;
}