.container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
	user-select: none;
}
.content {
	/* min-height: 400px;
	max-height: calc(100vh - (50px + 2rem));
	height: fit-content; */
	max-height: fit-content;
	overflow: hidden;
	background: #2a2a2a;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: fit-content(10px) auto;
	padding: 1rem;
	gap: 1rem;
	position: relative;
}
.project_detail {
	display: flex;
	width: fit-content;
	height: 100%;
	border-radius: 3px;
	flex-direction: column;
	position: sticky;
	top: 0;
}
.project_detail_content {
	background: rgba(255, 255, 255, 0.15);
	height: fit-content;
	padding: 2rem;
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	border-radius: 2px;
}
.project_detail_content img {
	object-fit: contain;
	width: 100%;
	min-width: 300px;
	height: calc(100vh - 150px - 3rem);
}
.project_detail_info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	white-space: nowrap;
}
.project_detail_info h1 {
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	font-size: 1.25rem;
	text-overflow: ellipsis;
}
.project_detail_btn_open {
	width: 100%;
	min-width: 200px;
	background: var(--secundary-color);
	border: 0;
	border-radius: 3px;
	padding: 1rem 0;
	text-transform: uppercase;
	color: var(--text-light);
	font-size: 0.625rem;
	text-align: center;
}
.project_detail_info_block {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.project_detail_info_block p {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.625rem;
	color: rgba(255, 255, 255, 0.5);
}
.project_detail_info_block > * {
	margin: 0;
	color: var(--text-light);
}
.project_detail_info_block > h2 {
	margin-left: 4px;
}
.project_detail_colors {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	background: rgba(255, 255, 255, 0.2);
	padding: 4px;
	border-radius: 2px;
}
.project_detail_colors span {
	padding: 8px 12px;
	border-radius: 2px;
	text-align: center;
	color: #fff;
}
.projects_card {
	display: flex;
	flex-direction: column;
	overflow: auto;
	gap: 1rem;
	padding: 0 8px 0 0;
	width: fit-content;
}
.artItem {
	padding: 1rem;
	background: rgba(255, 255, 255, 0.1);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* flex-direction: column; */
	border-radius: 3px;
	gap: 8px;
	cursor: pointer;
}
.artItem:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.artItem img {
	width: 100%;
	max-width: 35px;
	max-height: 35px;
	object-fit: contain;
	border-radius: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.artItem h2 {
	font-size: 0.88rem;
	max-width: 250px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgb(17, 17, 17);
}
