.canvas{
  display: grid;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background:#505050;
  cursor: crosshair;
}

.animation_show{
  opacity: 0;
  transform: scale(0.5);
  animation-delay: 0.2s;
  animation: show 0.3s forwards;
}
@keyframes show{
  to{
    opacity: initial;
    transform: initial;
  }
}